/* Importations */

@import './_variables.scss';

/*----------*/
/* Code CSS */
/*----------*/

/* Propriétés Générales */

* {
    box-sizing: border-box;
}

body {
    font-family: roboto, sans-serif;
    margin: 0;
    width: 100%;
    max-width: 768px;
}

li {

	list-style-type: none;
}

a {
	text-decoration: none;
}

h1, h4 {
    font-family: shrikhand, sans-serif;
    margin-top: 0;
    padding-top: 20px;
}

button {
    height: 40px;
    width: 180px;
    background: linear-gradient(to bottom right, $couleur-secondaire, $couleur-primaire);
    border: none;
    border-radius: 120px;
    box-shadow: 0px 0px 7px grey;
    color: white;
}

/* Header */

header {
    text-align: center;
}

header p {
    color: grey;
}

input {
    border: none;
    background-color: rgb(233, 233, 233);
    width: auto;
}

input::placeholder {
	color: black;
	opacity: 1;
}

.search_bar {
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 233, 233);
}

.search_bar i {
    width: 40px;
}

/* Main */

main {
    text-align: center;
    margin: auto;
}

/* Section 1 */

.fonction {
    width: 95%;
    box-shadow: 0px 3px 5px rgb(192, 192, 192);
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fonction i {
    width: 40px;
    color:grey;
}

figure {
    width: 95%;
    box-shadow: 0px 0px 7px grey;
    border-radius: 20px;
}

figure img {
    width: 100%;
    border-radius: 20px 20px 0 0;
}

/* Footer */

footer {
    background-color: rgb(65, 62, 62);
}

footer h4 {
    font-weight: normal;
    color: white;
    padding: 30px 0 0 40px;
}

footer i, footer a {
    color: white;
}

footer ul {
    margin: 0;
    padding-bottom: 30px;
}

li {
    margin-bottom: 5px;
}

footer p {
    display: inline;
}

footer i {
    width: 25px;
}