/* Importations */

@import './_variables.scss';

/*----------*/
/* Code CSS */
/*----------*/

/* Propriétés Générales */

.loading_spinner {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1;
    background: rgba(0, 0, 0, 0.3);
    animation: loading_spinner 3s linear;
}

.loader {
    width: 50px;
    height: 50px;
    position: relative;
}

.spin {
    border-radius: 50%;
    border: 5px solid $couleur-primaire;
}

.spin::after {
    content: "";
    position: absolute;
    top: -5px;
    bottom: -5px;
    left: -5px;
    right: -5px;
    border-radius: 50%;
    border: 5px solid transparent;
    border-top-color: $couleur-secondaire;
    animation: spin 1s linear infinite;
    animation-fill-mode: forwards;
    z-index:10000;
}

.chargement {
    padding-left: 20px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.loading_spinner::after {
    animation: stop 1s;
}

@keyframes stop {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}

@keyframes loading_spinner {
    0% {background-color: red}
    100% {display: none}
}

* {
    box-sizing: border-box;
}

body {
    font-family: roboto, sans-serif;
    margin: auto;
    width: 100%;
    font-size: 2em;
}

li {

	list-style-type: none;
}

a {
	text-decoration: none;
}

a:visited {
	color: black;
} 

h1, h4 {
    font-family: shrikhand, sans-serif;
    margin: 0;
    padding: 20px 0 20px 0;
}

.section_1 button {
    font-family: roboto, sans-serif;
    font-size:0.9em;
    height: 85px;
    width: 380px;
    background: linear-gradient(to bottom right, $couleur-secondaire, $couleur-primaire);
    border: none;
    border-radius: 120px;
    box-shadow: 0px 0px 7px grey;
    color: white;
}

/* Header */

header {
    text-align: center;
}

input {
    border: none;
    background-color: rgb(233, 233, 233);
    width: 30%;
    font-size: 1em;
    margin-left: 20px;
}

input::placeholder {
	color: black;
	opacity: 1;
}

.search_bar {
    height: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(233, 233, 233);
    box-shadow: inset 0px 6px 6px rgb(192, 192, 192);
    font-size: 0.9em;
}

.search_bar i {
    width: 40px;
}

/* Main */

main {
    text-align: center;
    margin: auto;
}

/* Section 1 */

.section_1 {
    background-color:rgb(248, 248, 248);
    padding: 40px 40px 100px 40px;
}

.section_1 p {
    color: grey;
    padding-bottom: 40px;
}

/* Section 2 */

.section_2 {
    padding: 40px 0 100px 0;
}

.section_2 h2 {
    text-align: start;
    padding-left: 40px;
}

.fonction {
    width: 85%;
    height: 140px;
    background-color:rgb(241, 241, 241);
    box-shadow: 0px 7px 15px rgb(214, 214, 214);
    border-radius: 40px;
    border: none;
    display: flex;
    justify-content: start;
    align-items: center;
    margin: 0 0 40px 60px;
    font-size: 1em;
}

.fonction p {
    font-weight: bold;
}

.fonction i {
    width: 40px;
    color:grey;
    padding: 0 80px 0 40px;
}

.circle {
	display: flex;
	justify-content: center;
	align-items: center;
	width: 50px;
	height: 50px;
	border-radius: 200px;
	background-color: $couleur-primaire;
    color: white;
    margin-left: -27px;
}

/* Section 3 */

.section_3 {
    background-color:rgb(248, 248, 248);
    padding: 40px 0 100px 0;
}

.section_3 h2 {
    text-align: start;
    padding-left: 40px;
}

.blocs_section_3 {
    height: 400px;
    width: 95%;
    box-shadow: 0px 0px 7px grey;
    border-radius: 20px;
    margin: auto;
    margin-bottom: 20px;
}

.blocs_section_3 i {
    font-size: 1.5em;
}

.photos_section_3 {
    position: relative;
    width: 100%;
    height: 70%;
    border-radius: 20px 20px 0 0;
    overflow: hidden;
}

.photos_section_3 img {
    object-fit: cover; 
    height: 100%;
    width: 100%;
}

.new {
    position: absolute;
    right: 20px;
    top: 20px;
    color: rgb(14, 165, 140);
    background-color: $couleur-tertiaire;
    border-radius: 5px;
    font-size: 0.8em;
    font-weight: 500;
    padding: 10px 20px 10px 20px;
}

figcaption {
    height: 30%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    padding: 40px 50px 40px 30px;
    font-size: 0.9em;
}

figcaption h3, figcaption p {
    margin: 0;
}

.blocs_section_3:hover {
    transform: scale(1.03,1.03);
}

/* Footer */

footer {
    background-color: rgb(65, 62, 62);
}

footer h4 {
    font-weight: normal;
    color: white;
    padding: 30px 0 30px 40px;
}

footer i, footer a {
    color: white;
}

footer ul {
    margin: 0;
    padding-bottom: 30px;
}

li {
    margin-bottom: 5px;
}

footer p {
    display: inline;
    padding-left: 20px;
}

footer i {
    width: 25px;
}

footer a:visited {
	color: white;
} 

/* Version Tablette */

@media all and (min-width: 768px) and (max-width: 991px) {

    .section_3 {
        display: grid;
        grid-template-columns: 50% 50%;
		grid-template-rows: 100px 420px 420px;
        padding: 0 0 40px 10px;
    }

    .section_3 figcaption {
        font-size: 0.8em;
        padding: 0 20px 0 20px;
    }

    .section_3 h2 {
        grid-row-start: 1;
        margin: 0;
        padding-top: 20px;
    }

    .grid_1 {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .grid_2 {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .grid_3 {
        grid-column-start: 1;
        grid-row-start: 3;
    }

    .grid_4 {
        grid-column-start: 2;
        grid-row-start: 3;
    }

    footer {
        text-align: center;
    }

}

/* Version Desktop */

@media all and (min-width: 992px) {

    body {
        max-width: 1440px;
        font-size: 1em;
    }

    header {
        display: flex;
        justify-content: space-between;
        height: 50px;
    }

    header h1 {
        width: 50%;
        margin: 0;
        padding: 0;
        background-color: rgb(233, 233, 233);
    }

    .search_bar {
        width: 50%;
        height: 50px;
        box-shadow: none;
    }

    input {
        background-color: #d8d8d8;
    }

    main {
        display: grid;
        grid-template-columns: 50% 50%;
		grid-template-rows: 100px 100px 300px;
    }

    .section_1 {
        grid-column-start: 1;
        grid-column-end: span2;
        grid-row-start: 1;
        background-color: white;
        font-size: 0.8em;
        padding: 0;
    }

    .section_1 button {
        display: none;
    }

    .section_1 p {
        padding: 0;
    }

    .section_2 {
        grid-column-start: 1;
        grid-column-end: span2;
        grid-row-start: 2;
        padding: 20px;
        display: flex;
        justify-content: space-between;
        font-size: 0.8em;
    }

    .fonction {
        height: 50px;
        margin: 0 0 0px 60px;
    }

    .fonction i {
        padding: 0;
        font-size: 1.2em;
    }

    .fonction p {
        font-size: 1.2em;
    }

    .circle {
        height: 30px;
        width: 30px;
        margin-left: -15px;
        font-size:1.2em;
    }

    .fonction:hover {
        background-color: lighten( $couleur-primaire, 35%);
        box-shadow: 5px 7px 20px rgb(214, 214, 214)
    }

    .section_3 {
        grid-column-start: 1;
        grid-column-end: span2;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
		grid-template-rows: 50px 250px;
        padding: 0 0 40px 0;
    }

    .section_3 figcaption {
        font-size: 0.8em;
        padding: 0 20px 0 20px;
    }

    .section_3 h2 {
        grid-row-start: 1;
        margin: 0;
        padding-top: 10px;
    }

    .blocs_section_3 {
        height: 200px;
    }

    .grid_1 {
        grid-column-start: 1;
        grid-row-start: 2;
    }

    .grid_2 {
        grid-column-start: 2;
        grid-row-start: 2;
    }

    .grid_3 {
        grid-column-start: 3;
        grid-row-start: 2;
    }

    .grid_4 {
        grid-column-start: 4;
        grid-row-start: 2;
    }

    footer {
        text-align: center;
    }

    footer h4, ul {
        padding: 20px 0 0 0;
    }

    footer p {
        padding: 0;
    }

} 